*.iml
.gradle
/.idea/
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.cxx
app-simple-wallet/local.properties
app-advanced-features/local.properties
app-ui-only/local.properties
app-simple-wallet/app/build/
app-advanced-features/app/build/
app-ui-only/app/build/
app-clean/
